@import url("https://fonts.googleapis.com/css2?family=Jost&family=Noto+Sans&family=Nunito&family=Poppins&family=Roboto+Slab&display=swap");
/* font-family: 'Jost', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */

html {
  height: 100%;
  min-height: auto;
}
body {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-weight: 400;
  padding-top: 0;
  margin-top: 0;
  font-family: "Roboto Slab", serif;
}

#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.button {
  background: #44AA00;
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
}

.disabled {
  display: none;
}

section {
  padding: 50px;
  max-width: 300px;
  margin: 30px auto;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.condition {
  text-align: left;
}
input, select {
  width: 100%;
  margin: 7px 0px;
  display: inline-block;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family: inherit;
  background: white;
}

select option {
    background-color: #fff;
    color: #000;
  }

  /* Style the dropdown when it's open */
  select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 1);
  }
p {
  text-align: center;
  margin-top: 0;
}

.switch {
  margin: 2em 0;
}